@import url("https://use.typekit.net/anj8qqv.css");

* {
    font-family: "brother-1816", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffcf2 !important;
}

nav {
    background-color: #252422;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1030;
}

nav img {
    width: 10vw;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    padding-top: 1%;
}

nav ul li {
    list-style-type: none;
    padding: 5%;
    white-space: nowrap;
}

a:link {
    color: #fffcf2;
    text-decoration: none;
}

a:visited {
    color: #fffcf2;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #fffcf2 !important;
    text-decoration: none;
}

a:active {
    color: #fffcf2;
    text-decoration: underline;
}

main {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

main h1 {
    font-size: 3em;
    font-weight: bold !important;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 6%;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* Cada item del slider */
.slidecard {
    flex: 0 0 calc(15% - 1rem);
    /* 5 elementos en pantalla */
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
}

/* Imagen */
.slidecard img {
    object-fit: cover;
    width: 100%;
}

.slider::-webkit-scrollbar {
    height: 2vh;
}

.slider::-webkit-scrollbar-thumb {
    background-color: #eb5e28;
}

.slider::-webkit-scrollbar-track {
    background: #ccc5b9;
}

main h4 {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

.email {
    background-color: #eb5e28;
    margin-bottom: 3%;
}

.email h5 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #252422;
}

footer {
    background-color: #252422;
    color: #fffcf2;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 8%;
}

.footerleft {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerleft h1 {
    padding-bottom: 3%;
}

.footerright {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerright h4 {
    padding-top: 6%;
    padding-bottom: 3%;
}

.rrss {
    display: flex;
    flex-flow: row nowrap;
}

.rrss img {
    width: 10%;
    object-fit: contain;
    padding-right: 2%;
    padding-bottom: 5%;
}

@media (max-width: 1200px) {
    main h1 {
        padding-top: 3%;
        padding-bottom: 4%;
    }

    .slidecard {
        flex: 0 0 calc(20% - 1rem);
    }

    footer {
        font-size: 0.9em;
        padding-bottom: 15%;
    }
}

@media (max-width: 992px) {
    nav img {
        width: 20vw;
    }

    nav {
        height: 8vh;
    }

    main h1 {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .slidecard {
        flex: 0 0 calc(30% - 1rem);
    }

    main h4 {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 8%;
        padding-bottom: 5%;
    }

    .email {
        margin-bottom: 6%;
    }

    footer {
        padding-bottom: 20%;
    }

    footer h1 {
        font-size: 2em;
    }

    .footerright {
        display: none;
    }

    .footerbottom {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 10%;
    }

    .rrss img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        font-size: 0.9em;
    }

    nav img {
        width: 25vw;
    }

    nav ul {
        padding-top: 2%;
    }

    main h4 {
        padding-top: 10%;
    }

    .email {
        margin-bottom: 10%;
    }

    footer {
        padding-bottom: 25%;
    }

    .footerbottom {
        padding-top: 15%;
    }

    .rrss img {
        width: 60%;
    }
}

@media (max-width: 576px) {
    nav {
        height: 7vh;
        font-size: 0.8em;
    }

    nav img {
        width: 20vw;
    }

    nav ul {
        padding-top: 3%;
    }

    main h1 {
        padding-top: 9%;
        padding-bottom: 7%;
    }

    .slidecard {
        flex: 0 0 calc(35% - 1rem);
    }

    main h4 {
        padding-bottom: 3%;
        font-size: 1em;
    }

    .email h5 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    footer h1 {
        font-size: 1.5em;
    }

    .footerleft {
        width: 60%;
    }

    .footerbottom {
        padding: 7%;
    }

    .rrss img {
        width: 45%;
    }
}