@import url("https://use.typekit.net/anj8qqv.css");

* {
    font-family: "brother-1816", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffcf2 !important;
}

nav {
    background-color: #252422;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1030;
}

nav img {
    width: 10vw;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    padding-top: 1%;
}

nav ul li {
    list-style-type: none;
    padding: 5%;
    white-space: nowrap;
}

a:link {
    color: #fffcf2;
    text-decoration: none;
}

a:visited {
    color: #fffcf2;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #fffcf2 !important;
    text-decoration: none;
}

a:active {
    color: #fffcf2;
    text-decoration: underline;
}

main {
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.fila5 {
    display: flex;
    flex-flow: row nowrap;
}

.projectscard {
    width: 20%;
    position: relative;
}

.projectscard img {
    width: 100%;
}

.caption {
    background-color: #252422;
    color: #fffcf2;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    height: 9vh;
    display: grid;
    place-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #eb5e28;
}

.projectscard:hover .overlay {
    opacity: 1;
}

.text {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 0.9em;
}

footer {
    background-color: #252422;
    color: #fffcf2;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 8%;
}

.footerleft {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerleft h1 {
    padding-bottom: 3%;
}

.footerright {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerright h4 {
    padding-top: 6%;
    padding-bottom: 3%;
}

.rrss {
    display: flex;
    flex-flow: row nowrap;
}

.rrss img {
    width: 10%;
    object-fit: contain;
    padding-right: 2%;
    padding-bottom: 5%;
}

@media (max-width: 1200px) {
    h1 {
        padding-top: 3%;
    }

    .caption {
        font-size: 1em;
    }

    .text {
        font-size: 0.7em;
    }

    footer {
        font-size: 0.9em;
        padding-bottom: 15%;
    }
}

@media (max-width: 992px) {
    nav img {
        width: 20vw;
    }

    nav {
        height: 8vh;
    }

    h1 {
        padding-top: 5%;
    }

    .fila5 {
        display: flex;
        flex-flow: row wrap;
    }

    .projectscard {
        width: 33%;
        position: relative;
    }

    .caption {
        font-size: 0.9em;
    }

    .text {
        font-size: 0.7em;
    }

    footer {
        padding-bottom: 20%;
    }

    footer h1 {
        font-size: 2em;
    }

    .footerright {
        display: none;
    }

    .footerbottom {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 10%;
    }

    .rrss img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        font-size: 0.9em;
    }

    nav img {
        width: 25vw;
    }

    nav ul {
        padding-top: 2%;
    }

    h1 {
        padding-top: 6%;
    }

    footer {
        padding-bottom: 25%;
    }

    .footerbottom {
        padding-top: 15%;
    }

    .rrss img {
        width: 60%;
    }
}

@media (max-width: 576px) {
    nav {
        height: 7vh;
        font-size: 0.8em;
    }

    nav img {
        width: 20vw;
    }

    nav ul {
        padding-top: 3%;
    }

    h1 {
        padding-top: 9%;
    }

    .fila5 {
        display: flex;
        flex-flow: row wrap;
    }

    .projectscard {
        width: 100%;
        position: relative;
    }

    .caption {
        font-size: 1em;
    }

    .text {
        font-size: 1em;
    }

    footer h1 {
        font-size: 1.5em;
    }

    .footerleft {
        width: 60%;
    }

    .footerbottom {
        padding: 7%;
    }

    .rrss img {
        width: 45%;
    }
}