@import url("https://use.typekit.net/anj8qqv.css");

* {
    font-family: "brother-1816", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffcf2 !important;
}

nav {
    background-color: #252422;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1030;
}

nav img {
    width: 10vw;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    padding-top: 1%;
}

nav ul li {
    list-style-type: none;
    padding: 5%;
    white-space: nowrap;
}

a:link {
    color: #fffcf2;
    text-decoration: none;
}

a:visited {
    color: #fffcf2;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #fffcf2 !important;
    text-decoration: none;
}

a:active {
    color: #fffcf2;
    text-decoration: underline;
}

main {
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.aboutme {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 5%;
}

.aboutme h2 {
    padding-bottom: 1%;
    font-weight: bold;
    text-align: justify;
    line-height: 1.3em;
}

.aboutme a:link {
    color: #252422;
    text-decoration: none;
}

.aboutme a:visited {
    color: #252422;
    text-decoration: none;
}

.aboutme a:hover {
    font-weight: bold;
    color: #252422 !important;
    text-decoration: none;
}

.aboutme a:active {
    color: #252422;
    text-decoration: underline;
}

.destacar {
    color: #eb5e28;
    position: relative;
    cursor: pointer;
}

.destacarimg {
    position: absolute;
    top: 0;
    /* debajo del texto */
    right: 100%;
    width: 30vw;
    display: none;
}

#right {
    left: 100%;
}

#top {
    bottom: 100%;
    width: 100%;
}

.destacar:hover .destacarimg {
    display: block;
}

.foto img {
    width: 100%;
}

.informacion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 5%;
}

.informacion img {
    width: 13%;
}

.skills {
    width: 50%;
}

.herramientas {
    display: flex;
    flex-flow: column nowrap;
}

.info {
    width: 50%;
}

.experiencia {
    text-align: justify;
}

.separar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 10%;
    color: #403d39;
    font-size: 0.9em;
}

.separararriba {
    padding-top: 4%;
}

.separararriba2 {
    padding-top: 2%;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-download {
    display: inline-block;
    background-color: #252422;
    color: #fffcf2;
    padding: 1% 2%;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #eb5e28;
}

footer {
    background-color: #252422;
    color: #fffcf2;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 8%;
}

.footerleft {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerleft h1 {
    padding-bottom: 3%;
}

.footerright {
    width: 25%;
    padding-top: 3%;
    padding-left: 5%;
}

.footerright h4 {
    padding-top: 6%;
    padding-bottom: 3%;
}

.rrss {
    display: flex;
    flex-flow: row nowrap;
}

.rrss img {
    width: 10%;
    object-fit: contain;
    padding-right: 2%;
    padding-bottom: 5%;
}

@media (max-width: 1200px) {
    .aboutme h2 {
        font-size: 1.4em;
        padding-top: 3%;
    }

    .experiencia {
        font-size: 0.9em;
    }

    .destacar {
        color: #252422;
    }

    .destacar:hover .destacarimg {
        display: none;
    }

    footer {
        font-size: 0.9em;
        padding-bottom: 15%;
    }
}

@media (max-width: 992px) {
    nav img {
        width: 20vw;
    }

    nav {
        height: 8vh;
    }

    .aboutme h2 {
        font-size: 1.1em;
        padding-top: 7%;
        text-align: left;
    }

    .informacion img {
        width: 18%;
    }

    .informacion h3 {
        font-size: 1.4em;
    }

    .informacion h5 {
        font-size: 1em;
    }

    .informacion p {
        font-size: 0.8em;
    }

    .experiencia {
        text-align: left;
    }

    .cv {
        font-size: 0.9em;
    }

    .cv a {
        padding: 2% 3%;
    }

    footer {
        padding-bottom: 20%;
    }

    footer h1 {
        font-size: 2em;
    }

    .footerright {
        display: none;
    }

    .footerbottom {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 10%;
    }

    .rrss img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        font-size: 0.9em;
    }

    nav img {
        width: 25vw;
    }

    nav ul {
        padding-top: 2%;
    }

    .aboutme h2 {
        font-size: 1.4em;
        padding-top: 8%;
    }

    .informacion {
        display: flex;
        flex-flow: column nowrap;
    }

    .skills {
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .informacion h3 {
        font-size: 1.5em;
    }

    .informacion h5 {
        font-size: 1em;
    }

    .informacion p {
        font-size: 0.9em;
    }

    footer {
        padding-bottom: 25%;
    }

    .footerbottom {
        padding-top: 15%;
    }

    .rrss img {
        width: 60%;
    }
}

@media (max-width: 576px) {
    nav {
        height: 7vh;
        font-size: 0.8em;
    }

    nav img {
        width: 20vw;
    }

    nav ul {
        padding-top: 3%;
    }

    footer h1 {
        font-size: 1.5em;
    }

    .footerleft {
        width: 60%;
    }

    .footerbottom {
        padding: 7%;
    }

    .rrss img {
        width: 45%;
    }
}